body{
    height: 100%;
    padding: 10px;
}

.chart-container, .map-container {
    display: inline-block;
    width: 48%;
    height: 400px;
    margin-bottom: 80px;
}

#tittle{
    text-align: center;
}

.sample-code{
    display: inline-block;
    height: 400px;
    overflow-y: auto;
    width: 48%;
}